Algorand/.venv
Algorand/13.storage_implementation/.algokit
Algorand/13.storage_implementation/.vscode
Algorand/13.storage_implementation/.algokit.toml
Algorand/13.storage_implementation/.gitattributes
Algorand/13.storage_implementation/.editorconfig
Algorand/13.storage_implementation/.gitignore
Algorand/13.storage_implementation/README.md
Algorand/13.storage_implementation/projects/.gitkeep
Algorand/13.storage_implementation/projects/13.storage_implementation/.venv
Algorand/13.storage_implementation/projects/13.storage_implementation/.algokit
Algorand/13.storage_implementation/projects/13.storage_implementation/.tours
Algorand/13.storage_implementation/projects/13.storage_implementation/.vscode
Algorand/13.storage_implementation/projects/13.storage_implementation/.algokit.toml
Algorand/13.storage_implementation/projects/13.storage_implementation/.editorconfig
Algorand/13.storage_implementation/projects/13.storage_implementation/.gitignore
Algorand/13.storage_implementation/projects/13.storage_implementation/poetry.lock
Algorand/13.storage_implementation/projects/13.storage_implementation/poetry.toml
Algorand/13.storage_implementation/projects/13.storage_implementation/pyproject.toml
Algorand/13.storage_implementation/projects/13.storage_implementation/README.md